/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(82, 39, 39);
}

/* Login Styles */
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.img img {
  width: 40%;
}

.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.5s ease;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
}

form {
  position: absolute;
  margin-top: 80px;
  transition: 0.5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 rgba(82, 39, 39, 0.5);
  display: flex;
  gap: 0;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #803131, #9b2a2a);
  border-radius: 30px;
  transition: 0.3s;
  left: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

label {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

label i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #666;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  border: none;
  border-radius: 60px;
  padding: 10px 10px 10px 40px; /* espaço para o ícone */
  outline: none;
  margin-top: 10px;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: #e0e0e0;
}

button[type="submit"] {
  background: rgb(96, 30, 30);
  color: white;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background: rgb(120, 40, 40);
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#signin {
  left: 25px;
}

#signup {
  left: 450px;
}
